@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Google Sans', sans-serif;
    background-color: #f0f2f5;
}

.login-page,
.sign-up-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sign-up-btn,
.login-btn,
.logout-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.logout-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.create-incident-btn {
    position: absolute;
    bottom: 32px;
    right: 32px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.incidents-page,
.incident-details-page,
.incident-form-page {
    padding: 32px;
}

.login-container,
.sign-up-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.icon {
    color: #888;
    font-size: 16px !important;
}

.input-group {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    gap: 8px;
    margin-bottom: 1rem;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.action-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

.incident-container,
.incident-details-container {
    border: 1px solid #ccc;
    padding: 24px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #fff;
}

.incident-container:hover {
    background-color: #f9f9f9;
    transform: scale(1.02);
    transition: transform 0.2s;
    cursor: pointer;
}

.status-open {
    color: #e53935;
    font-weight: bold;
}

.status-in-progress {
    color: #fb8c00;
    font-weight: bold;
}

.status-resolved {
    color: #43a047;
    font-weight: bold;
}

.text-date {
    font-size: 12px;
    color: #666;
}

.back-icon-container {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-bottom: 16px;
}

.back-icon-container p {
    font-size: 14px;
    color: #888;
}

.incident-details-container select {
    margin: 0 8px;
    padding: 8px;
    font-size: 14px;
}

.generate-btn {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 32px;
}

.ai-summary-section {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 32px;
    background-color: #e3f1ff;
    padding: 12px;
    border: 1px solid #d5dee7;
    border-radius: 8px;
}

.ai-summary-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ai-summary-details p {
    margin: 0;
}

.text-ai-generate {
    font-size: 12px;
    color: #1976d2;
    font-weight: bold;
    margin-top: 32px;
}

.text-success {
    font-size: 14px;
    color: #43a047;
    font-weight: bold;
    margin-top: 16px;
}

/* Incident Form Page */

.incident-form-container {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.incident-input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.incident-input-group input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Google Sans', sans-serif;
}

.input-hint {
    font-size: 12px;
    color: #888;
    margin-bottom: 12px;
}